html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background-color:black;
  font-family: "Yu Gothic UI",'Gothic A1', 'Carrois Gothic SC', sans-serif;
}
/*https://www.w3schools.com/css/tryit.asp?filename=trycss_mediaqueries_fontsize*/
a:link { 
  color: #e6efee !important;
  text-decoration: none;
}

#main_img{
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 43em;
}

img{
  max-width: 100%;
  height: auto;
  background-size: 100% 100%;
  object-fit: scale-down;
  position: relative;
  border-radius: 2px;
  top: 5px;
}
/*regular res screens*/
@media screen and (min-width: 800px) {
  body{
    font-size: 16px;
  }
  li {
    float: left;
    cursor: pointer;
  }
  #icon_links{
    margin-top: 30px;
    width: 128px; 
  }
  header{
    position: sticky;
  }
  ul {
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    width: 60%;
    font-family: inherit;
    padding-left: 0px;
    display: flex; 
    justify-content: space-evenly;  
  }
  .icon_links{
    float: right;
  } 
}

/*mobile view and small monitors*/
@media screen and (max-width: 800px) {
  body{
    font-size: 14px;
  }
  li {
    float: none;
    cursor: pointer;
  }
  #icon_links{
    margin-top: 10px;
    width: 20%;
    display: block;
  }
  ul {
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    width: 100%;
    font-family: inherit;
    display: block;
    padding-left: 0px;
    display: grid; 
    justify-content: center;  
  }
} 

/*border: 5px solid #ebf6ff;*/
li a {
  display: table;
  padding: 0px 30px 0px 30px;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #b7b7b7;
  font-size: 16px;
  width: 100%;
}

li a:hover {
  color: #ffffff;
}

li a:focus {
  color: #ffffff;
}


li a:focus{
    outline: none;
}


/*https://learn.zybooks.com/zybook/UNCCITIS3135BasuSpring2019/chapter/1/section/25?content_resource_id=26917910
css selectors (important!)
*/

/*
grid site layout code allows elements to be structured in columns and rows
https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template
*/

.main_img{
  cursor: zoom-in;
}
.zoom_img{
  border-radius: 5px;
}

.ui-tooltip, .arrow:after {
  background: black;
  border: 1px solid white;
}
.ui-tooltip {
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  font: bold 14px inherit, sans-serif;
  text-transform: uppercase;
  box-shadow: 0 0 3px black;
}
.arrow {
  width: 60px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}
.image-source-link {
	color: #98C3D1;
}
/*pluging mag popup css*/
.mfp-with-zoom .mfp-container,.mfp-with-zoom.mfp-bg {
	opacity: 0;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
