@media screen and (max-width: 800px) {
  .ico{
    position: relative;
    display: block;
    font-size: 16px;
    padding: 5px 5px;
    width: 32px;
    right:15px;
    }
  #follow{
    position: relative;  
    padding-right: 20px;
    }
    footer {
      position: fixed;
      left: 5px;
      bottom: 0px;
      top: auto;
      width: 100%;
      border-top: 1px solid #111;
      text-align: center;
      background: black;
      max-height: 50px;
      height: 100%;
    }
}

@media screen and (min-width: 800px) {
  .ico{
    position: relative;
    display: block;
    font-size: 16px;
    padding: 5px 5px;
    width: 32px;
    right:15px;
  }
  
  #main_img{
    margin-top: 30px;
    outline: none;

  }  
  
  #follow{
    position: relative;  
    padding-right: 20px;
  }
  
  footer {
    position: fixed;
    left: 5px;
    bottom: 5px;
    top: auto;
    width: 100%;
    border-top: 1px solid #111;
    text-align: center;
    background: transparent;
    max-height: 50px;
    height: 100%;
    width: 100%;
  }

}

img{
    max-width: 100%;
    height: auto;
    background-size: 100% 100%;
    object-fit: scale-down;
    position: relative;
}
 
#main_info{
  font-size: 18px;
}

.icon_links{
  align-items: center;
  height:inherit;
  overflow:hidden;
  padding: 2px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: white;
 }    
 

.wrapper{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: flexbox;
  grid-auto-rows: minmax(100px, auto);
}

.equal{
  width: 20px;
}

.text{
  color: white;
  text-align:center;
  padding-bottom: 40px;
}

.ico2{
  position: relative;
  display: block;
  font-size: 16px;
  padding: 5px 5px;
  width: 64px;
  right:15px;
  }